$dot-size: 2.5em;
$yellow: #E6CE52;
  
  /*===== Vertical Timeline =====*/
  .conference-timeline {
    position: relative;
    width: 80%;
    margin: 5em auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgray;
  }
  
  .conference-timeline .timeline-start,
  .process-timeline {
    display: table;
    background: $yellow;
    padding: 10px 20px;
    max-width: 5%;
    width: 100%;
    margin: 0 auto;
  }
  .conference-timeline .conference-center-line {
    position: absolute;
    width: 5px;
    height: 75%;
    top: 10%;
    left: 35%;
    margin-left: 18px;
    background: $yellow;
    z-index: 10;
  }

  .timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 45%;
  }

  .timeline-article .content-left,
  .timeline-article .content-right {
    position: relative;
    width: auto;
    padding: 10px;
  }
  
  .timeline-article p {
    padding: 0;
    position: relative;
  }

  .timeline-article .content-left-container {
    float: left;
    text-align: right;
    width: 200px;
  }

  .timeline-article .content-right-container {
    float: right;
    text-align: left;
    margin-left: 18px;
  }

  .timeline-article .meta-date {
    position: absolute;
    top: 30%;
    left: 35%;
    width: $dot-size;
    height: $dot-size;
    border-radius: 100%;
    background: $yellow;
  }

  @media screen and (max-width:500px) {

    .conference-timeline {
      width: 100%;
      margin: 40px 0;
    }

    .timeline-article {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
    .conference-timeline .conference-center-line {
      display: none;
    }

    .timeline-article .meta-date {
      top: 10%;
      left: 4%;
      width: 1em;
      height: 1em;
    }

    .timeline-article .content-left-container,
    .timeline-article .content-right-container {
      max-width: 100%;
    }

    .timeline-article h4, .timeline-article p {
      text-align: left;
      padding: 0;
    }

    .timeline-article p {
      margin-left: 20px;
    }

    .timeline-article h4 {
      margin-left: 30px;
    }

    .timeline-article .content-right-container {
      margin: 0;
    }
  }
  
  /*===== Resonsive Vertical Timeline =====*/
