.main-button {
    padding: 20px 30px;
    background-color: #429928;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
    cursor: pointer;
    &:hover {
        transition: 0.3s ease-in-out;
        transform: scale(1.1);
    }
    &:active {
        box-shadow: 0 5px lightgray;
        transform: translateY(4px);
    }
}