.navbar {
    background-color: #DA5B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .navbar-logo {
    width: 60px;
    height: 60px;
    padding-left: 20px;
  }

  .navlinks {
    padding-right: 20px;
  }
  
  .nav-item {
    margin: 10px;
  }
  