.presta-timeline {
    position: relative;
    width: 80%;
    margin: 5em auto;
}

.presta-timeline .presta-line {
    position: absolute;
    width: 5px;
    height: 80%;
    top: 0%;
    left: 35%;
    background: #E6CE52;
    z-index: 10;
}

.timeline-article .presta-date {
    position: absolute;
    top: 30%;
    left: 33.5%;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background: #E6CE52;
}

.timeline-article .presta-article {
    display: flex;
    justify-content: space-between;
}

.prestation-picture {
    width: 220px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 50%;
    padding: 20px;
    box-shadow: 5px 5px 20px lightgray;
}

.presta-content-left-container {
    width: 30%;
    display: grid;
    justify-items: end;
    align-items: flex-start;
}

.presta-content-right-container {
    width: 60%;
    margin-left: 5em;
}

.timeline-article .presta-content-right {
    padding: 30px;
}

.presta-content-right {
    background-color: white;
    padding: 30px ;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgray;
}

.presta-content-right h4 {
    margin-top: 0;
}

.presta-date {
    top: 105%;
}


.presta-article {
    padding: 0;
    margin: 1rem 0;
    display: flex;
    align-items: normal;
}

.presta-last-sentences {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgray;
    margin: 20px;
}

@media screen and (max-width:500px) {
     .presta-timeline .presta-line, .presta-date {
        display: none;
     }
     .presta-content-left-container {
        display: block;
     }
     .presta-timeline {
        width: 100%;
        margin-top: 20px;
     }

    #presta-title {
    margin-top: 20px;
    }

    .presta-content-right h4 {
        margin: 0;
        text-align: center;
    }

    .presta-content-right-container {
        width: 100%;
        margin: 0;
    }  
    
    .presta-content-right, .presta-content-right li {
        margin: 10px;
        text-align: center;
    }

    .presta-last-sentences {
        width: fit-content;
        p {
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .prestation-picture {
        display: none;
    }
}