.footer {
    background-color: #DA5B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    color: white;
}

.icon {
    font-size: 40px;
    color: white;
    margin: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

@media screen and (max-width:500px) {
    .footer {
        flex-direction: row-reverse;
        padding: 0;
        height: 60px;
    }
    .footer-title {
        display: none;
    }

    .socials {
        display: flex;
        flex-direction: row-reverse;
        .icon {
            font-size: 30px;
        }
    }
}