.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 80%;
}


.presentation-card p {
    text-align: center;
}

.presentation-paragraphs {
    display: flex;
    margin: 5em, auto;
}

.presentation-last-sentence {
    text-align: center;
}