.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.presentation-card p {
    text-align: center;
}

.presentation-paragraphs {
    display: flex;
} 