h1 {
    text-align: center;
}

.stepsRemind {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    .stepsRemind-row-1, .stepsRemind-row-2, .stepsRemind-row-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        h3 {
            margin-right: 3rem;
        }
    }
}

.contactForm {
    display: flex;
    justify-content: center;
    margin:5em auto;
    form {
        border-radius: 15px;
        background-color: white;
        box-shadow: 5px 5px 20px lightgray;
        padding: 4rem;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .contactForm-row-1, .contactForm-row-2{
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin: 1rem 0rem 1rem 0rem;
        }
        .nameDiv, .emailDiv, .companyDiv, .phoneDiv, .messageDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            width: 90%;
            label {
                padding: 0px 8px 5px 8px;
                border-bottom: 2px solid #429928;
                margin: 0rem 0rem 1rem 0rem;
            }
        }

        .emailDiv {
            position: relative;
        }

        .contactForm-row-3 {
            width: 100%;
            display: flex;
            .messageDiv {
                width: 100%;
                margin-top: 1.5rem;
            }
        }

        textarea {
            width: 100%;
            border-radius: 15px;
            border: 0.2px solid #00000052;
            background-color: ghostwhite;
        }

        input {
            border: 0.2px solid #00000052;
            border-radius: 10px;
            background-color: ghostwhite;
            width: 80%;
            height: 2rem;
        }

        .sendButton {
            margin: 2rem;
            padding: 1rem 2rem;
            background-color: #429928;
            border: none;
            border-radius: 15px;
            color: white;
        }
    }
}

.cta-sentence {
    text-align: center;
    margin-bottom: 2em;
}

.separation-line {
    margin: auto;
    width: 20%;
    border-bottom: 2px solid #429928 ;
}

.contactInfos {
    margin: 2rem auto;
    width: 70%;
    text-align: center;
}


.contact-icon {
    color: #429928;
    font-size: 20px;
    margin-right: 5px;
}

.mail-validation-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    .wrong-mail-icon {
        color: #DA5B2E;
    }
    .right-mail-icon {
        color:#429928;
    }
}